// Set Fonts
$font-family-base:          'Space Mono', serif !default;

// COLORS
$bg-light-blue:             #e3eef8 !default;
$primary:                   #258aff !default;

$lightgrey:                 lightgrey !default;
$darkgrey:                  darkgrey !default;

// Typography
$headings-font-family:        'PT Sans' !default;
$headings-font-weight:        700;

$btn-border-radius:           0.2rem !default;
